<!DOCTYPE html>
<html>
<head>
    <title>Logged Out - Todo App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="task-form">
            <h1>Are you sure you want to logout?</h1>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Logout</button>
                <a href="{% url 'todo:index' %}" class="btn btn-primary">No, Go Back</a>
            </form>
        </div>
    </div>
</body>
</html>
